.header {
  padding: 12px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.headerButton {
  flex: 0 0 36px;
  width: 36px;
  font-size: 0;
}

.headerIcon {
  width: 100%;
  fill: darkorchid;
}

.containerList {
  display: flex;
  flex-flow: column nowrap;
  padding: 16px 24px;
  align-items: center;
}

.containerGrid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.episodeList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 12px;
}

.episodeListTitle {
  font-size: 24px;
  font-weight: 600;
  margin-left: 24px;
}

.episodeGrid {
  flex: 0 0 25%;
  width: 25%;
  padding: 12px;
}

@media screen and (max-width: 576px) {
  .episodeGrid {
    flex: 0 0 50%;
    width: 50%;
    padding: 8px;
  }
}

.thumbnail {
  display: block;
  position: relative;
  overflow: hidden;
}

.thumbnailList {
  flex: 0 0 200px;
  width: 200px;
  border-radius: 8px;
}

.thumbnailList:not(:first-child) {
  margin-left: 8px;
}

.thumbnailGrid {
  width: 100%;
  border-radius: 8px;
}

.thumbnailImage {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
